@page "/budgets"
@rendermode InteractiveServer

<PageTitle>Budgets</PageTitle>
<h3>Budgets</h3>
<style>
    td, table {
        padding: 7px;
    }

    button {
        border: none;
        padding: 7px;
    }
</style>
<table>
    <tr>
        <td>
            <div class="btn-group" role="toolbar">
                <button class="btn-primary" style="border-bottom-left-radius: 5px;border-top-left-radius: 5px;">Add</button>
                <button class="btn-secondary">Update</button>
                <button class="btn-danger" style="border-bottom-right-radius: 5px;border-top-right-radius: 5px;">Delete</button>
            </div>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>February</h4></td>
    </tr>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>Family</h4></td>
    </tr>
</table>
@code {

}
