@page "/budgets"
@rendermode InteractiveServer

<PageTitle>Budgets</PageTitle>
<h3>Budgets</h3>
<style>
    td, table {
        padding: 7px;
    }
</style>
<table>
    <tr>
        <td><button>Add</button></td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
    </tr>
</table>
<table>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>February</h4></td>
    </tr>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>Family</h4></td>
    </tr>
</table>
@code {

}
