@page "/goals"
@rendermode InteractiveServer

<PageTitle>Goals</PageTitle>
<h3>Goals</h3>
<style>
    td, table {
        padding: 7px;
    }
</style>
<table>
    <tr>
        <td><button>Add</button></td>
        <td><button>Predictor</button></td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
    </tr>
</table>
<table>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>Holiday</h4></td>
    </tr>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>New Car</h4></td>
    </tr>
</table>
@code {

}
