@page "/savings"
@rendermode InteractiveServer

<PageTitle>Savings</PageTitle>
<h3>Savings</h3>
<style>
    td, table {
        padding: 7px;
    }

    button {
        border: none;
        padding: 7px;
    }
</style>
<div class="btn-group" role="toolbar">
    <button class="btn-primary" style="border-bottom-left-radius: 5px;border-top-left-radius: 5px;">Add</button>
    <button class="btn-info">Predictor</button>
    <button class="btn-secondary">Update</button>
    <button class="btn-danger" style="border-bottom-right-radius: 5px;border-top-right-radius: 5px;">Delete</button>
</div>
<table>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>Instant Access: £213.33</h4></td>
    </tr>
    <tr>
        <td><Input type="checkbox" /></td>
        <td><h4>ISA: £653.44</h4></td>
    </tr>
</table>
<h3>Total: £866.77</h3>
@code {

}
