@page "/spending"
@rendermode InteractiveServer

<PageTitle>Spending</PageTitle>
<h3>Spending</h3>
<style>
    td, table {
        padding: 7px;
    }
</style>
<table>
    <tr>
        <td><p>From</p></td>
        <td><input type="date"></td>
        <td><p>To</p></td>
        <td><input type="date"></td>
        <td><p>Category</p></td>
        <td>
            <select>
                <option>All</option>
                <option>Groceries</option>
            </select>
        </td>
        <td><button>Add</button></td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
    </tr>
</table>
<table>
    <tr>
        <th></th>
        <th>Place</th>
        <th>Category</th>
        <th>Date</th>
        <th>Cost</th>
    </tr>
    <tr>
        <td><Input type="checkbox" /></td>
        <td>Sainsbury's</td>
        <td>Groceries</td>
        <td>01/01/2025</td>
        <td>£26.35</td>
    </tr>
    <tr>
        <td><Input type="checkbox" /></td>
        <td>Cineworld</td>
        <td>Entertainment</td>
        <td>01/01/2025</td>
        <td>£14.99</td>
    </tr>
</table>

@code {

}
